  <div class="center jumbotron">
    <h1>Godric's Sample APP</h1>
    <h2>
      Homepage is <a href="http://godriccao.net/">Godric Cao</a>
    </h2>
    
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
  
  <%= link_to image_tag("rails.png", alt: "Rails logo"),
              'http://rubyonrails.org/' %>